.form--contact{
    padding: 0px 10% 0px 10%;
}

.form--contact button{
    background-color: #00D8FF;
    font-size: 14px;
    height: 40px;
    color: black;
}

.form--contact label {
    font-size: 12px;
}
.form__input {
    margin-bottom: 20px;    
    border-radius: 5px;
    height: 40px;
}
.form--message{
    height: 180px;
}